/* general */
* {
	border: 0;
	margin: 0;
	padding: 0;
	font-family:'Baloo Tamma', cursive;
}

#idnum, #userwelcome {
	float: left;
	color: white;
	position: absolute;
	margin-left: 0.3em;
}
#idnum {
	margin-left: 11em;
}
body {
	background-image: url("image/background.gif");
}

a img {
	float: right;
	position: relative;
	margin-top: 3.5em;
	margin-right: 1em;
	border: white solid 3px;
	border-radius: 10px;
}

h1 {
	font-size: 3em;
	height: 1.2em;
}

h2 {
	font-size: 2.2em;
}

h3 {
	height: 1.2em;
}
.button {
	border: 1px solid black;
	border-radius: 0.5em;
	font-size: 1em;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #4F3645;
	display: inline-block;
	height: 2em;
	width: 10em;
	margin-top: 1em;
	padding-top: 0.3em;
}

.button:hover, .button:active {
	background-color: #1F78ED;
}

#student_main div, #teacher_main div {
	height: 2em;
	width: 20%;
	margin: auto;
	margin-top: 2em;
	padding: 0;
	text-align: center;
}
#student_main, #teacher_main {
	text-align:center;
	font-family:'Baloo Tamma', cursive;
	font-size:1.5em;
	padding:0;
	margin-bottom: 0;
	border-style: none;
}

#banner {
	text-align: center;
	font-family:'Baloo Tamma', cursive; 
	color: white;
	border-bottom: 1px solid black; 
	background-color: #36454F;
	margin-bottom: 1.8em;
	height: 7em;
	padding-top: 1em;
	padding-left: 4.125em;
}
#banner a{
	text-decoration: none;
	color: white;
}
#sign_in {
	margin-bottom: 2em;
	min-height: 30em;
	position: relative;
}
#wrapper {
	min-height: calc(100% - 80px);
}
#space {
	height: 7em;
}
#footer{
	border-top: 1px solid black;
	padding: 0;
	bottom: 0;
	margin-top: 1.5em;
	background-color: #36454F;
	width: 100%;
	position: relative;
	height: 80px;
	color: #FFFFFF;
	margin-bottom:0;
	text-align: left;
	font-size: 0.8em;
	display: block;
}

#footer ul{
	list-style-type:none;
	margin-left: 1em;
	margin-top: 0.5em;
}

#footer ul li{
	display: inline;
	color: #FFFFFF
}

li a {
	text-decoration: none;
	color: #FFFFFF;
}

#signUpChoice li a {
	color: #000000
}

.loginButton {
	font-size: 0.8em;
	margin: 0.5em;
	height: 1.7em;
	border: 0.1em solid black;
	padding: 0.1em 0.4em 0.1em;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #4F3645;
	border-radius: 0.5em;
}
.loginButton:hover, .loginButton:active {
	background-color: #1F78ED;
	cursor: pointer;
}	
/* End of general */

/* Start of home page */

#homeTitle {
	font-size: 6em;
	text-align: center;
	margin-top: 1em;
}

.divider {
	border: 2px solid black;
	margin: 2em 5em 0;
}

#home {
	text-align: center;
	margin: 2em 20em 0;
}

#studentHome {
	float: left;
	background-color: rgba(0,0,0,0.3);
	padding: 3em;
	border-radius: 25px;
}

#teacherHome {
	float: right;
	background-color: rgba(0,0,0,0.3);
	padding: 3em;
	border-radius: 25px;
}

#home .button {
	display: block;
	margin-bottom: 2em;
}

/* End of home page

/* Start of mainstage */
#game h2 {
	margin: 1em;
	text-align: center;
}
#container {
	margin-left: 2em;
	float:left;
	position: relative;
}

.box{
	float:left;
	position:relative;
	height:300px;
	width:200px;
	border: solid black;
	margin: 0em 2em 0em 0em;
}

#clockpic {
	float:left;
	position:relative;
	height: 100px;
	width: 100px;
}
#timer, #scoreCount {
	float: right;
	margin-right: 5em;
	text-align: center;
	margin-left: 0;
}
#timer h2, #scoreCount h2 {
	margin: 0;
}
/*End of mainstage */

/*Start of favourites */

#favourites {
	margin-left: 5em;
}
#favourites .button {
	text-align: center;
}
/*End of favourites */

/*Start of instructions/about */

#instructions {
	text-align: center;
	margin-left: 5em;
	margin-right: 5em;
}

#instructions .button {
	text-align: center;
	display: block;
}
.teampic {
	display: inline-block;
	margin: 1em;
}
/*End of instructions */

/*Start of gameover */

#gameover, #gamewin {
	text-align: center;
}

#gameover h2 {
	margin-bottom: 3em;
}

#gamewin h2 {
	margin-bottom: 2em;
}

#gamewin h3 {
	margin-bottom: 2em;
}

#gamewin .button {
	margin-left: 1em;
	margin-right: 1em;
}

/*End of gameover */

/* Start of login */
#sign_in {
	text-align:center;
	font-family:'Baloo Tamma', cursive;
	font-size:1.5em;
	padding:0;
	margin-bottom: 0;
	border-style: none;
}

.login {
	height: 30px;
	width: 150px;
}

p {
	margin:0;
	padding:0;
}
#pop_background{
	position: fixed;
	width: 100%;
	height: 900px;
	top: 0;
	left: 0;
	background: #000;
	opacity: .8;
	z-index:1000;
	cursor: pointer;
	display: none;
}

#pop_box{
	position: absolute;
	background: #fff;
	width: 30%;
	margin: 100px 0 0 35%;
	padding: 20px;
	z-index: 1500;
	display: none;
	text-align: center;
}

#pop_box a{
	text-decoration: none;
}

#pop_box ul{
	list-style-type: none;
}

#pop_box ul li{
	display: inline;
	padding: 5px;
	border-style: solid;
	border-color: black;
	margin: 32px;
}

/* End of login */
/* Start of stage settings */
#wrap {
	-webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
#outputImg, #outputArt {
	background-color: #4F3645;
	width: 13em;
	height: 18em;
	display: inline;
	float: left;
	margin: 3em;
	padding: 1em;
	border-radius: 1.5em;
	color: #FFFFFF;
}
	/* ATTEMPT TO FLIP CARD
	-webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
#outputImg .front, #outputArt .front {
	background-color: blue;
}
#outputImg .back, #outputArt .back {
	background-color: green;
	-webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
#outputImg .flipped, #outputArt .flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}*/

form {
	margin: 1em 3em 1em;
}
#settings {
	text-align: center;
}
#confirm {
	margin-top: 6em;
}
.search {
	background-color: rgba(0,0,0,0.3);
	padding: 1em;
	border-radius: 25px;
	margin: 1.5em 20em 1.5em;
}
.searchBar {
	width: 15em;
	height: 2em;
	font-size: 1em;
	padding-left: 5px;
}
.search .button {
	margin: 0;
}
#settings select {
	margin-right: 0.8em;
	padding: 0.2em 1em 0;
}
#settings input {
	margin-right: 0.8em;
}
.
.settingsButton {
	padding: 0.6em 2em 0.4em;
	border: 1px solid black;
	border-radius: 0.5em;
	font-size: 1em;
}
.wrap {
	margin: auto;
	width: 70%;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	column-width: 10em;
}

label > input{
  visibility: hidden;
  position: absolute;
  	float: left;
	display: inline;
}
label > input + div{
  cursor:pointer;
  border:transparent 2px solid;
}
label > input:checked + div{ 
  border:2px solid blue;
}


