* {
	border: 0;
	margin: 0;
	padding: 0;
}
body {
	background-color: #F4F4F4;
}

/* Start of mainstage css*/
#container {
	float:left;
	position: relative;
}

.box{
	float:left;
	position:relative;
	height:300px;
	width:200px;
	border: solid black;
}

#clockpic {
	float:left;
	position:relative;
	height: 100px;
	width: 100px;
}
/*End of mainstage css */

/* Start of login.css<jowin>*/
#Banner {
	text-align: center;
	font-family:'Baloo Tamma', cursive; 
	color: white;
	border-bottom: 1px solid black; 
	background-color: #DEC26E;
	margin-bottom: 3em;
	height: 5em;
	padding-top: 1em;
}
#sign_in {
	text-align:center;
	font-family:'Baloo Tamma', cursive;
	font-size:1.5em;
	padding:0;
	margin-bottom: 0;
	border-style: none;
}

.login {
	height: 30px;
	width: 150px;
}

p {
	margin:0;
	padding:0;
}

#Banner p {
	padding:0;
	margin:0;
}

#footer{
	border-style:solid;
	border-color:black; 
	border-radius:25px;
	bottom:0;
	position:fixed;
	width: 98%;
	height: 30px;
}

#footer ul{
	list-style-type:none;
}

#footer ul li{
	display: inline;
}

#pop_background{
	position: fixed;
	width: 100%;
	height: 900px;
	top: 0;
	left: 0;
	background: #000;
	opacity: .8;
	z-index:1000;
	cursor: pointer;
	display: none;
}

#pop_box{
	position: absolute;
	background: #fff;
	width: 30%;
	margin: 100px 0 0 35%;
	padding: 20px;
	z-index: 1500;
	display: none;
	text-align: center;
}

#pop_box a{
	text-decoration: none;
}

#pop_box ul{
	list-style-type: none;
}

#pop_box ul li{
	display: inline;
	padding: 5px;
	border-style: solid;
	border-color: black;
	margin: 32px;
}
#outputImg, #outputArt {
	background-color: #DBC695;
	width: 15em;
	height: 20em;
	float: left;
	display: inline;
	margin: 3em;
	padding: 1em;
	border-radius: 1.5em;
}
form {
	margin: 1em 3em 1em;
}
/* End of login.css<jowin>*/